/* --------------------------------- GLOBAL --------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}

* :focus {
  outline: none !important;
}

/* ---------------------------------- #ROOT --------------------------------- */
#root {
  overflow: hidden;
  position: relative;

  width: inherit;
  height: inherit;
  background-color: var(--c-primary);
  color: var(--c-text);

  transition: background 333ms ease-in-out;
}
