.neon-texts-frame {
  @media only screen and (max-width: 767px) {
    width: 100vw;
    // height: 100vh;
    background-color: #bad522;
  }
  
  @media only screen and (min-width: 768px) {
    width: 80%;
    height: 200px;
    background-color: blue;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  .neon-texts {
    font-family: $font-families;
    font-size: 6rem;
  }
}


